body {
  font-family: sans-serif;
  color: rgb(129, 193, 236);
  background-color: rgb(80, 80, 80);
}
.editorMenuContainer {
  display: flex;
  margin: 1vh 1vw;
}

.editorMenu {
  margin: 0.5vw;
}

#svgRoot {
  background-color: rgb(255, 255, 255);
  touch-action: none;
}

#controllPanel {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.controllButton {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  background-color: rgb(4, 101, 165);
  border-radius: 0.5vh;
  border-width: 0;
  margin: 0.5vw;
}

.controllButton:hover {
  background-color: rgb(129, 193, 236);
}

.select-overlay {
  stroke: aqua;
  transition-duration: 200ms;
  cursor: crosshair;
}

.current-path {
  stroke: red;
}
